@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.jumbotron {
    margin: 0;
    height: 100vh;
    background: url("images/goodlife.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 400x;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

body {
  background-color: white;
  line-height: 30px;
  font-family: "Roboto";
  color: black;
}

.jumbo-box {
  color: rgb(159, 190, 18);
  background-color: rgba(8, 14, 0, 0.6);
}



span {
  size: 30px;
  color: green;
  padding-left: 15px;
  
}

.social-links {
  margin-right: 50px;
  font-size: 30px;
  color: green;

}

.logo {
    background: url("images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 230px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#contact {
 height: 100vh;
}

.headings {
padding-top: 60px;
}
heading-2 {
  padding-top: 60px;
  text-align: center;
}
.contact-form {
   margin: 0 auto;
   line-height: 10em;
 }

 h1,h3,h2 {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
 }

 //testimonial section

.orange-text i {
  color: gold;
}

.personal-details {
  margin-right: 70px;
}

#enter-name {
  text-transform: uppercase;
}

// class for mouseenter and mouseleave
.mouse {
  background: black;
  color:white;
}