.jumbotron {
    margin: 0;
    height: 100vh;
    background: url("../images/goodlife.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400x;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
