@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.icons {
  color: green;
}

.nav-link {
  text-transform: uppercase;
  color:black !important;
}

.jumbotron {
    margin: 0;
    height: 100vh;
    background: url("images/goodlife.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 400x;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

body {
  background-color: white;
  line-height: 30px;
  font-family: "Roboto";
  color: black;
}

.jumbo-box {
  color: rgb(159, 190, 18);
  background-color: rgba(8, 14, 0, 0.6);
}



span {
  size: 30px;
  color: green;
  padding-left: 15px;
  
}

.social-links {
  margin-right: 50px;
  font-size: 30px;
  color: green;

}

.logo {
    background: url("images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 230px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#contact {
 height: 100vh;
}

.headings {
padding-top: 60px;
}
heading-2 {
  padding-top: 60px;
  text-align: center;
}
.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}

form input {
  margin-bottom: 1em;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #8db306;
}

 #map {
   height: 400px;
   margin: 0 auto;
 }

 h1,h3,h2 {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
 }

 //testimonial section

.orange-text i {
  color: gold;
}

.personal-details {
  margin-right: 70px;
}

#enter-name {
  text-transform: capitalize;
}

// class for mouseenter and mouseleave
.mouse {
  background-color: black;
  color:white;
}

.services-h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .personal-details {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1125px) {
  .services-paragraphs{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 761px) {
  form{
    margin-bottom: 400px;
  }
  .btn-secondary {
    margin-bottom: 100px;
  }
}

#contact{
  height: 100vh;
  padding-top: 100px;
}

#footer {
  font-size: x-small;
   background: greenyellow;
   text-transform: capitalize;
   text-align: center;
}